* {
    font-family: "NeueRoman";
}

.font16{
    font-size: 16px;
}
.font60{
    font-size: 60px;

}
.font14{
    font-size: 14px;
}
.font22{
    font-size: 22px;
}
.font24{
    font-size: 24px;
}
.font20{
    font-size: 20px;
}
.font32{
    font-size: 32px;
}
.font36{
    font-size: 36px;
}
.font18{
    font-size: 18px;
}
.font26{
    font-size: 26px;
}
.font46{
    font-size: 46px;
}
.font66{
    font-size: 66px;
}
.fw-600{
    font-weight: 600px;
}
.fw-300{
    font-weight: 300px;
}
.fw-500{
    font-weight: 500px;
}
.fw-700{
    font-weight: 700px;
}
.lh-52{
    line-height: 57.99px;
}
.navbar-nav .nav-link:hover {
   
    border-radius: 5px solid white;
  }
  .navbar-nav .nav-link:hover {
    border: 2px solid white;
    border-radius: 5px; 
}


.nav-item.nav-btn .btn:hover {
    border: 2px solid blue;
    color: white; 
}

.gradient-background {
        background: linear-gradient(180deg, #D9D9D9 0%, #000000 100%);
    }

.bling-star{
    width: 64px;
    height: 66px;
}
.text-website-color {
    color: #3854BA;
}
.play-icon{
    color: #304AA5;
}
.blue-background button{
    background-color: #3854BA;
    color: white;
}
.share-icon{
    border-radius: 50%;
     
}
.cards-service:hover{
    background-color: #121212;
    color: #fff;
}
.cards-service {
    transition: background-color 0.3s, color 0.3s;
  }
  .cards-service:hover {
    background-color: black;
    color: white;
  }
  .cards-service:hover .card-title,
  .cards-service:hover .card-text,
  .cards-service:hover .btn {
    color: white;
  }
  .cards-service:hover .btn {
    background-color: #3854BA;
  }
.footer{
    background-color: rgba(56, 84, 186, 0.1);
}
.cards-service .service-card-btn {
    border: 2px solid #3854BA;
   
}
input{
    padding: 22px 63px 22px 40px;
}
.custom-footer{
    width: 75px;
    height:55px;
}
.row-width {
       background-color: #272727;
        border-radius: 42px;

}
.social-media a{
    background-color: #3854BA;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    gap: 3px;
}
.share-svg{
    width: 62px;
    height: 62px;
}
.padding110{
    padding: 170px;
}
.padding50{
    padding: 50px;
}
.get-started-img {
   
    width: 90%;
    height: 167%;
    margin-top: -190px;
}
.testimonial-div{
   
    height: 250px;
}
.custom-border-radius {
    border-radius: 4.25rem !important;
}  
.sample{
    height: 412px;
}
.margin19{
    margin-top: 29px;
}
.social-media a:hover {
    color: black; 
}
.testimonial-card {
    border-radius: 0; 
}


@media (min-width: 992px) { 
    .testimonial-card {
        border-radius: 50rem; 
    }
}
@media (min-width: 992px) {
    #custom-padding.btn{
        padding: 20px;
    }
    .get-started-img{
        margin-top: -220px;
    }
    .sync-sub-para{
        width: 50%;
    }
}
@media only screen and (min-width: 1440px) {
    .get-started-img{
        margin-top: -220px;
    }
  
}
@media only screen and (min-width: 992px) and (max-device-width: 1023px){
    .get-started-img{
        margin-top: -189px;
    }
    .screen-font{
        font-size: 22px;
    }
}
@media only screen and (min-width: 1024px)and (max-device-width: 1279px){
    .get-started-img{
        margin-top: -184px;
    }
    
}
@media only screen and (min-width: 768px) and (max-device-width: 991px){
    .get-started-img{
        margin-top: -145px;
    }
    .mid-screen-font{
        font-size: 16px;
    }.mid-screen-sub
    {
        font-size:10px;
    }
}  
@media (min-width: 769px) and (max-width: 1024px) {
   .mid-font {
        font-size: 22px;
    }
} 
@media (max-width: 529px) {
   .testimonial-row{
    gap: 20px;
   }
    .project-section{
        gap: 4px;
    }
    .flex-reverse-diection{
        flex-direction: column-reverse;
    }
    .get-started-img{
        margin-top: -131px;
    }
    .card-text{
        padding: 0;
    }
    .sync-sub-para{
        width: 100%;
    }
    .small-size-font{
        font-size: 16px;

    }
    .small-size-sub-font{
        font-size: 14px;
    }
   .service-cards{
    gap: 10px;
   }
}
@media (max-width: 769px) {
    
    .it-free-img{
        width: 50%;
        height: 50%;
    }
    .custom-img {
        width: 1rem;
    }
    .home-text {
        font-size: 30px;

    }
    .home-sub-text{
        font-size: 14px;
    }
    .watch-overview{
        margin-top: 20px;
    }
    .responsive-font{
        font-size: 16px;
    }
    .project-section{
        gap: 0px;
        
    }
   
    .blue-background button{
        padding: 15px;
    }

}
     /* .image-div {
        width: 20rem;
        height: 10rem;
        justify-content: center;

    }

    .button-home {
        flex-direction: column;
        gap: 14px;
    }

    .footer-flex-direction {
        flex-direction: column;
        align-items: center;
    }

    .footer .row {
        flex-direction: column;
        align-items: center;
    }

    .footer .col {
        margin-bottom: 20px;
    }

    .responsive-heading {
        font-size: 16px;
        line-height: 24px;
    }

    .fs-16 {
        font-size: 16px;
    }

    .responsive-font {
        font-size: 12px !important;
    }

    .project-card {
        width: 100% !important;
        margin-bottom: 20px;
        gap: 3px;
    }

    .service-card-share-btn {
        width: 29px;
        height: 35px;
    }

    .card-img {
        width: 100%;
        height: auto;
    }

    .exp-btn .Explore-btn {
        font-size: 0.8rem;
        padding: 6px 12px;
    }

    .exp-btn .badge img {
        width: 12px;
        height: auto;
    }

    .testimonial-section .Testimonial-row {
        flex-direction: column;
        gap: 1rem;
    }

    .star-rating {
        width: 50%;
        margin-top: 0%;


    }

    .get-started-img {
        display: none;
    }
}
 */
@media (min-width: 992px) {
    .navbar-nav {
        justify-content: flex-end;
    }

    
}

.navigation-menu {
    background-color: #000;
    font-family: NeueRoman;
}



.PaddingLeftRight38 {
    padding-left: 38px;
    padding-right: 38px;
}

.PaddingToptBottom22 {
    padding-top: 21px;
    padding-bottom: 22px;
}
/* 
.btn-custom-request {
    font-family: "NeueRoman";
    width: 324px;
    height: 64px;
}

.watch-overview {
    font-family: "lato";
}

.first-text {
    font-family: "Neueiei";
    font-size: 60px;
    font-style: bold;
    line-height: 80px;
    text-align: center;
}

.second-text {
    font-family: "Neueli";
    font-size: 24px;
    font-weight: 300;
    line-height: 30.2px;
    text-align: center;
}

.text-website-color {
    color: #3854BA;
}
.service-btn button{
    background-color: #3854BA;
}

.exp-btn .Explore-btn {
    background-color: #3854BA;
    color: #fff;
}
.req-btn button{
    background-color: #3854BA;
} */

/* .footer {
    background-color: rgba(56, 84, 186, 0.1);

}

.watch-overview {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.service-text {
    font-family: "Neuemi";
    font-size: 24px;
    line-height: 30.24px;
    color: #414141;
}

.service-card:hover {
    background-color: #000;
    color: white;
    cursor: pointer;

}

.service-card:hover .btn {
    background-color: #3854BA;
    color: #fff;
}


.Support-text {
    font-family: 'Neuemi';
    font-size: 36px;
    line-height: 45.39px;

}

.play-next {
    width: 76px;
    height: 76px;
}

.cards-service {
    height: 322px;
}

.service-card-title {
    font-family: "Neuebold";
    font-size: 26px;
    list-style: 32.34px;
}

.service-card-para {
    font-size: 18px;
    line-height: 22.63px;
    color: #414141;
}

.cards-service {
    border-radius: 14px;
}

.cards-service .service-card-btn {
    border: 2px solid #3854BA;
    padding: 14px 36px 14px 36px;
}

.gradient-background {
    background: linear-gradient(180deg, #D9D9D9 0%, #000000 100%);
}

.cards-service.active .btn {
    background-color: #3854BA;
    color: white;
}


.project-title {
    font-size: 24px;
}

.project-subtitle {
    font-size: 36px;
}

.sync-image {
    height: 412px;
    object-fit: fill;
}

.service-2 .card {
    height: 412px;

}

.services-text-2 {
    font-family: 'Neuemnormal';
    font-size: 20px;
    line-height: 20.99px;
}

.services-text-sub2 {
    font-family: 'Neuelight';
    font-size: 14px;
    line-height: 22.68px;
    word-break: normal;
}

.service-card-2.service-card-btn-k {
    font-family: Neuem;
    font-weight: normal;
    color: #000;

}

.Testimonial-row {
    overflow-x: hidden;
}

.testimonial-section.Testimonial-grid-item {
    width: 572px;
    height: 250px;
    padding: 25px;
    gap: 33px;
}

.contact-form {
    background-color: rgba(56, 84, 186, 0.102);


}

.contact-form input {
    background-color: rgba(56, 84, 186, 0.102);
}

form .btn-primary {
    background-color: #3854BA;
}

.get-started-texts {
    position: absolute;
}

.container-get-start {
    margin-top:
        358.93px;
}

.get-started h2 {
    line-height: 83.21px;
    font-weight: 700;
    font-size: 66px;
}

.get-started p {
    font-family: 'Neuelight';
    font-size: 20px;
    line-height: 31px;
}

.get-started .btn-primary {
    background-color: #3854BA;
    border: 2px solid black;
    font-size: 1.2rem;

}

.row-width {
    background-color: #272727;
    border-radius: 42px;
    width: 1240px;
    height: 412px;
}

.twitter {
    align-items: center;

    color: #fff;
}

.address {
    font-weight: 300px;
    font-size: 22px;
    line-height: 30px;
}

.other-links {
    font-family: Neuenormal;
    font-weight: 300px;
    font-size: 22px;
    line-height: 30px;
}

.icons a {
    background-color: #3854BA;
    color: #fff;
    border-radius: 50%;
}



.our-service.project.sevice2.testimonial-section.contact-form {
    margin-top: 120px;
}

.mt-190 {
    margin-top: 190px;

} */
