@font-face {
    font-family: 'Neueli';
    src: url('NeueHaasDisplay-LightItalic.woff2') format('woff2'),
        url('NeueHaasDisplay-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neueiei';
    src: url('NeueHaasDisplay-BlackItalic.woff2') format('woff2'),
        url('NeueHaasDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neuem';
    src: url('NeueHaasDisplay-Mediu.woff2') format('woff2'),
        url('NeueHaasDisplay-Mediu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neueboldi';
    src: url('NeueHaasDisplay-BoldItalic.woff2') format('woff2'),
        url('NeueHaasDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neuebold';
    src: url('NeueHaasDisplay-Bold.woff2') format('woff2'),
        url('NeueHaasDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neuenormal';
    src: url('NeueHaasDisplay-Black.woff2') format('woff2'),
        url('NeueHaasDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueXThin';
    src: url('NeueHaasDisplay-XThin.woff2') format('woff2'),
        url('NeueHaasDisplay-XThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueThini';
    src: url('NeueHaasDisplay-ThinItalic.woff2') format('woff2'),
        url('NeueHaasDisplay-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neuethin';
    src: url('NeueHaasDisplay-Thin.woff2') format('woff2'),
        url('NeueHaasDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueRoman';
    src: url('NeueHaasDisplay-Roman.woff2') format('woff2'),
        url('NeueHaasDisplay-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neuexthini';
    src: url('NeueHaasDisplay-XThinItalic.woff2') format('woff2'),
        url('NeueHaasDisplay-XThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neuemi';
    src: url('NeueHaasDisplay-MediumItalic.woff2') format('woff2'),
        url('NeueHaasDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NeueRI';
    src: url('NeueHaasDisplay-RomanItalic.woff2') format('woff2'),
        url('NeueHaasDisplay-RomanItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NeueXXThin';
    src: url('NeueHaasDisplay-XXThin.woff2') format('woff2'),
        url('NeueHaasDisplay-XXThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueXXthini';
    src: url('NeueHaasDisplay-XXThinItalic.woff2') format('woff2'),
        url('NeueHaasDisplay-XXThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neuelight';
    src: url('NeueHaasDisplay-Light.woff2') format('woff2'),
        url('NeueHaasDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
